<launch>
  <arg name="only_testing_modified_global_path" default="false"/>
  <arg name="min_radius" default="1.2"/>
  <node pkg="qp_planner" type="qp_planner" name="qp_planner" output="screen">
    <param name="only_testing_modified_global_path"   value="$(arg only_testing_modified_global_path)" />
    <param name="min_radius"   value="$(arg min_radius)" />
  </node>
</launch>
